@import './variables.scss';

.selected {
  font-weight: bold;
  color: var(--white);
}
.navBar {
  @media only screen and (max-width: $break-m) {
    display: none;
  }
  font-family: proxima_nova_rgregular;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 20%;
  height: 100%;
  background: var(--blue);
}
.navBarHeading {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: var(--white);
}
.navBarSubHeadings svg {
  margin-right: 8px;
}
.navBarSubHeadings li {
  height: 56px;
  text-align: initial;
}
.navBarSubHeadings {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  opacity: 0.5;
}
.navBarSubHeadings ul {
  list-style-type: none;
}
